.hanger{
    position:flex;
    margin: auto;
    top:0;
    height: 10rem;
    width:.5rem;
    background-color:black;
    z-index:-1;
}

.bigBox{
    margin: auto;
    height: auto;
    width:20rem;
    background-color:black;
    padding:5rem;
    border-radius: 20%;
}

.redLight{
    position:flex;
    margin: auto;
    height:10rem;
    width:10rem;
    background-color: red;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.yellowLight{
    position:flex;
    margin: auto;
    height:10rem;
    width:10rem;
    background-color: yellow;
    border-radius: 50%;
    padding: 10%;
    margin-top:8%;
    margin-bottom:2rem;
}

.greenLight{
    position:flex;
    margin: auto;
    height:10rem;
    width:10rem;
    background-color: green;
    border-radius: 50%;
    padding: 10%;
    margin-top:8%;
}

.purpleLight{
    position:flex;
    margin: auto;
    height:10rem;
    width:10rem;
    background-color: purple;
    border-radius: 50%;
    padding: 10%;
    margin-top:2rem;
}

.redGlow{
    box-shadow: 0px 0px 15px 15px red;
}

.yellowGlow{
    box-shadow: 0px 0px 15px 15px yellow;
}

.greenGlow{
    box-shadow: 0px 0px 15px 15px green;
}

.purpleGlow{
    box-shadow: 0px 0px 15px 15px purple;
}