.hanger{
    position:flex;
    margin: auto;
    top:0;
    height: 10rem;
    width:.5rem;
    background-color:black;
    z-index:-1;
}

.bigBox{
    margin: auto;
    height: 40rem;
    width:20rem;
    background-color:black;
    padding:5rem;
    border-radius: 20%;
}

.redLight{
    position:flex;
    margin: auto;
    height:10rem;
    width:10rem;
    background-color: red;
    border-radius: 50%;
}

.yellowLight{
    position:flex;
    margin: auto;
    height:10rem;
    width:10rem;
    background-color: yellow;
    border-radius: 50%;
    top: 5rem;
    padding: 5%;
    margin-top:5%;
}

.greenLight{
    position:flex;
    margin: auto;
    height:10rem;
    width:10rem;
    background-color: green;
    border-radius: 50%;
    top: 5rem;
    padding: 5%;
    margin-top:5%;
}
